.app.dark {
  --bg-color: #3d3d6d;
  --inverted-bg-color: #9393a4;
  --primary-color: #73a473;
  --secondary-color: #37d337;
  --inverted-primary-color: #122c54;
  --inverted-secondary-color: #20607b;
}
